# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# IDE temporary files
.vscode/
.idea/
*.suo
*.user
*.sln.docstates
*.cproject
*.project
*.settings/

